<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    </div>
<% else %>


<div class="center jumbotron">
  <h1>MOOD</h1>

  <h2>
    HOW DO YOU FEEL.  IS LIFE OKAY? WELL IS IT? OH GOD I BETTER CHANGE THIS.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>